.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 1rem;
}

.main .bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main .todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.main .title .text {
  font-size: 6rem;
  margin: 0;
}

.main .todo .urls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}
