<div class="main">
  <div class="todo">
    <div class="title">
      <h1 class="text">{{ this.todo().text }}</h1>
      <h1 class="time">{{ this.todo().time }}</h1>
    </div>

    <div class="note">
      @if (this.todo().notepad) {
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="Notes"></textarea>
        </mat-form-field>
      </form>
      }
    </div>

    <div class="urls">
      @for (url of this.todo().urls;track $index) {

      <app-mat-chip-link [link]="url.link" [name]="url.name">
      </app-mat-chip-link>
      }
    </div>
  </div>
</div>
